<link rel="stylesheet" href="/css/archives.css">
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<div id="archives">
    <% site.posts.forEach(function(post){ %>
    <el-timeline>
        <el-timeline-item timestamp="<%- date(post.date, 'YYYY/M/D') %>" placement="top" color="#a5c2f5">
            <el-card shadow="hover">
                <a href="/<%- post.path %>">
                    <h3><%= post.title %></h3>
                </a>
                <div class="info">
                    <% if(post.categories && post.categories.data.length!=0){ %>
                    <span class="category">
                        <a href="/categories/<%= post.categories.data[0].name %>">
                            <ion-icon name="layers"></ion-icon>
                            <%- post.categories.data[0].name %>
                        </a>
                    </span>
                    <% } %>

                    <% if(post.tags && post.tags.data.length!=0){ %>
                    <span class="tags">
                        <span class="tag-icon">
                            <ion-icon name="pricetags"></ion-icon>
                        </span>
                        <% post.tags.data.forEach(function(data){%>
                        <span class="tag">
                            <% 
                                    var color = ['color:#ffa2c4', 'color:#00bcd4', 'color:#03a9f4', 'color:#00a596', 'color:#ff7d73'];
                                    var num = Math.floor(Math.random()*color.length);
                                %>
                            <a href="/tags/<%= data.name %>" style=<%- color[num] %>>
                                <%- data.name %>
                            </a>
                        </span>
                        <% }) %>
                    </span>
                    <% } %>
                </div>
            </el-card>
        </el-timeline-item>
    </el-timeline>
    <% }) %>
</div>

<script>
    new Vue({
        el: '#archives'
    })
</script>