<div id="home-head">
    <script>
        var menu = document.getElementById("menu")
        menu.className += " menu-color"
    </script>
    <div id="home-info" class="home-info" @click="home_click">
        <span class="loop"></span>
        <span class="loop"></span>
        <span class="loop"></span>
        <span class="loop"></span>
        <span class="info">
            <div class="wrap">
                <h1><%- config.title %></h1>
                <h3><%- config.subtitle %></h3>
                <h5><%- config.description %></h5>
            </div>
        </span>
    </div>
</div>

<div id="home-posts-wrap">
    <div id="home-posts">

        <%- include("posts") %>

        <%- include("current") %>

    </div>

</div>