<% 
    var pageTitle = config.title+' || '
    if(page.title) pageTitle+=page.title;
    else if(is_category()) pageTitle+=page.category;
    else if(is_tag()) pageTitle+=page.tag;
    else pageTitle+=config.subtitle;
    // console.log(page)
    var layout = "index"
    if(is_home()){
        layout = "index"
    }else if(is_post()){
        layout = "post"
    }else if(is_category() || page.title=="categories"){
        layout = "categories"
    }else if(is_tag() || page.title=="tags"){
        layout = "tags"
    }else if(is_archive() || is_year() || is_month()){
        layout = "archives"
    }else {
        layout = "post"
    }
%>
<!DOCTYPE html>
<html lang="<%- config.language %> ">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <meta name="author" content="<%- config.author %> ">
    <meta name="description" content="<%- config.description %> ">
    <meta name="keywords" content="<%- config.keywords %> ">
    <link rel="icon" href="<%- theme.head_img %> ">
    <script src="/js/vue.js"></script>
    <script src="/js/antd.min.js"></script>
    <link rel="stylesheet" href="/css/antd.min.css">
    <% if(theme.style == "night"){ %>
    <link rel="stylesheet" href="/css/night-theme.css">
    <% }else if(theme.style == "maiden"){ %>
    <link rel="stylesheet" href="/css/maiden-theme.css">
    <% }else{ %>
    <link rel="stylesheet" href="/css/full-theme.css">
    <% } %>
</head>

<body>

    <div id="layout">
        <div v-show="show_page"><%- include("menu") %></div>
        <div v-show="!show_page">
            <a-spin>
                <div class="show_page_content">
                    <div>加载中...</div>
                    <div>"字体较大，请等待缓存"</div>
                </div>
            </a-spin>
        </div>
        <transition name="into">
            <div v-show="show_page" id="main" style="display: none;">
                <%- include(layout) %>
                <%- include("footer") %>
            </div>
        </transition>
    </div>

    <script>
        new Vue({
            el: "#layout",
            data: {
                show_page: false,
                menu_show: false,
                card_top: 100,
            },
            created: function () {
                var that = this
                window.onload = function () {
                    that.show_page = true
                }
            },
            mounted: function () {
                var that = this
                window.addEventListener('scroll', function (e) {
                    that.menu_show = false
                })
            },
            methods: {
                home_click: function () {
                    window.scrollTo({
                        top: window.innerHeight - 80,
                        behavior: "smooth",
                    });
                }
            }
        })
    </script>
</body>

</html>