<% 
    var pageTitle = config.title+' || '
    if(page.title) pageTitle+=page.title;
    else if(is_category()) pageTitle+=page.category;
    else if(is_tag()) pageTitle+=page.tag;
    else pageTitle+=config.subtitle;
    // console.log(page)
    var layout = "index"
    if(is_home()){
        layout = "index"
    }else if(is_post()){
        layout = "post"
    }else if(is_category() || page.title=="categories"){
        layout = "categories"
    }else if(is_tag() || page.title=="tags"){
        layout = "tags"
    }else if(is_archive() || is_year() || is_month()){
        layout = "archives"
    }else {
        layout = "post"
    }
%>
<!DOCTYPE html>
<html lang="<%- config.language %> ">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <meta name="author" content="<%- config.author %> ">
    <% theme.stylesheets.forEach(url => { %>
    <meta name="description" content="<%- config.description %> ">
    <% }); %>
    <% theme.stylesheets.forEach(url => { %>
    <link rel="stylesheet" href="<%=url%>">
    <% }); %>
    <script type="module" src="/js/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="/js/ionicons.js"></script>
    <link rel="stylesheet" href="/css/element-ui.css">
    <script src="/js/vue.js"></script>
    <script src="/js/element-ui.js"></script>
    <!-- <link rel="stylesheet" href="/css/particle.css"> -->
</head>

<body>

    <%- include("menu") %>
    <%- include(layout) %>
    <%- include("footer") %>
</body>

</html>