<link rel="stylesheet" href="/css/post.css">
<div class="article">

    <div>
        <h1><%= page.title %> </h1>
    </div>
    
    <div class="info">
        <span class="date">
            <ion-icon name="calendar-outline"></ion-icon>
            <%- date(page.date, 'YYYY/M/D') %>
        </span>

        <% if(page.categories && page.categories.data.length!=0){ %>
        <span class="category">
            <a href="/categories/<%= page.categories.data[0].name %>">
                <ion-icon name="layers"></ion-icon>
                <%- page.categories.data[0].name %>
            </a>
        </span>
        <% } %>

        <% if(page.tags && page.tags.data.length!=0){ %>

        <span class="tags">
            <span class="tag-icon">
                <ion-icon name="pricetags"></ion-icon>
            </span>
            <% page.tags.data.forEach(function(data){%>
            <span class="tag">
                <% var num = Math.floor(Math.random()*theme.tags_color.length) %>
                <a href="/tags/<%= data.name %>" style="color: #<%- theme.tags_color[num] %> ">
                    <%- data.name %>
                </a>
            </span>
        </span>

        <% }) %>
        <% } %>
    </div>

    <div class="content">
        <%- page.content %>
    </div>

</div>