<% var current = (page.current-1)*config.index_generator.per_page; %>
<% site.posts.slice(0+current,config.index_generator.per_page+current).forEach(function(post){ %>
<div class="post">

    <a href="/<%- post.path %>">
        <h2>
            <%- post.title %>
        </h2>
    </a>

    <div class="category-and-date">

        <% if(post.categories.data.length!=0){ %>
        <span class="category">
            <a href="/categories/<%= post.categories.data[0].name %>">
                <ion-icon name="layers"></ion-icon>
                <%- post.categories.data[0].name %>
            </a>
        </span>
        <% } %>

        <span class="date">
            <ion-icon name="calendar-outline"></ion-icon>
            <%- date(post.date, 'YYYY/M/D') %>
        </span>

    </div>

    <div class="excerpt">
        <div class="content">
            <% if(post.excerpt.length != 0){ %>
            <%- post.excerpt %>
            <% } %>
            <% if(post.excerpt.length == 0){ %>
            <%- post.content %>
            <% } %>
        </div>
    </div>

    <div class="post-tags">
        <% if(post.tags.data.length!=0){ %>
        <span class="tag">
            <ion-icon name="pricetags"></ion-icon>
        </span>
        <% } %>
        <% post.tags.data.forEach(function(data){%>
        <span class="tag">
            <% var num = Math.floor(Math.random()*theme.tags_color.length) %>
            <a href="/tags/<%= data.name %>" style="color: #<%- theme.tags_color[num] %> ">
                <%- data.name %>
            </a>
        </span>
        <% }) %>
    </div>

    <a href="/<%- post.path %> " class="go-post">
        阅读全文
    </a>
</div>
<% }); %>