<link rel="stylesheet" href="/css/post-body.css">
<link rel="stylesheet" href="/css/gitalk.min.css">
<script src="/js/gitalk.min.js"></script>
<div class="article">
    <div>
        <h1><%= page.title %> </h1>
    </div>
    <div class="info">
        <span class="date">
            <span class="icon">
                <a-icon type="calendar" theme="filled" />
            </span>
            <%- date(page.date, 'YYYY/M/D') %>
        </span>

        <% if(page.categories && page.categories.data.length!=0){ %>
        <span class="category">
            <a href="/categories/<%= page.categories.data[0].name.replace(" ", "-") %>">
                <span class="icon">
                    <a-icon type="book" theme="filled" />
                </span>
                <%- page.categories.data[0].name %>
            </a>
        </span>
        <% } %>

        <% if(page.tags && page.tags.data.length!=0){ %>

        <span class="tags">
            <span class="icon">
                <a-icon type="tags" theme="filled" />
            </span>
            <% page.tags.data.forEach(function(data){%>
            <span class="tag">
                <% 
                if(theme.style == "night"){
                    var color = ['color:#607d8b', 'color:#6484be', 'color:#006674','color:#016a99']
                }else if(theme.style == "maiden"){
                    var color = ['color:#ffa2c4', 'color:#00bcd4', 'color:#879cff', 'color:#1bccbc', 'color:#ff7d73'];
                }else{
                    var color = ['color:#ffa2c4', 'color:#00bcd4', 'color:#03a9f4', 'color:#00a596', 'color:#ff7d73'];
                }
                var num = Math.floor(Math.random()*color.length);
                %>
                <a href="/tags/<%= data.name.replace(" ", "-") %>" style=<%- color[num] %>>
                    <%- data.name %>
                </a>
            </span>
            <% }) %>
        </span>
        <% } %>
    </div>

    <div class="content">
        <%- page.content %>
    </div>

    <% if(theme.valine.enable){ %>
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
    <div>
        <div id="vcomments"></div>
        <span id="comment-count"></span>
        <script>
            comment_count_el = 'span.comment-count';
            new Valine({
                el: '#vcomments',
                appKey: '<%- theme.valine.appKey %>',
                appId: '<%- theme.valine.appId %>',
                placeholder: '<%- theme.valine.placeholder %>',
                avatar: '<%- theme.valine.avatar %> ',
                pageSize: '<%- theme.valine.pageSize %> ',
                lang: '<%- theme.valine.lang %> ',
                serverURLs: '<%- theme.valine.serverURLs %> ',
                requiredFields: ["nick", "mail"]
            }) 
        </script>
    </div>
    <% } %>
</div>